@model IEnumerable<WebAppMVC.Models.Product>

@{
//ViewBag.Title = "Index";
}

<h2 class="text-center bg-success">Products</h2>

<p>
    @*@Html.ActionLink("Create New", "Create")*@
</p>

@using (Html.BeginForm("Index1", "Products", FormMethod.Post))
{
    <span>Product Name:</span>@Html.TextBox("text")
    <input type="submit" value="Search"/>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Stock)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProName)
        </td>
        <td>
           <img scr="@Url.Content(item.ProDescription)" alt="item.AlternateText" />
            @*@Html.DisplayFor(modelItem => item.ProDescription)*@
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Stock)
        </td>
        @*<td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ProId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ProId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ProId })
        </td>*@
    </tr>
}

</table>
