
@{
//ViewBag.Title = "CheckOut";
}

<h2 class="text-center bg-warning">Order Successfully Booked</h2>
<h2 class="text-center bg-secondary">And will Be Delivered To Your Address Safely</h2>

<h3 class="text-center">Delivery Information</h3>
<div class="container">
    <table class="table table-dark table-striped">
        <thead>
            
            <tr>
                <th>UserId</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Address</th>
                <th>Mobile Number</th>
                <th>Payment Mode</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Session["UserId"]</td>
                <td>@Session["UserFirstName"]</td>
                <td>@Session["UserLastName"]</td>
                <td>@Session["UserAddress"]</td>
                <td>@Session["UserMobile"]</td>
                <td>Cash On Delivery</td>
            </tr>
        </tbody>
    </table>
</div>



